.container {
    max-width: 800px;
    margin: 0 auto;
  }
.body {
    background-image: url('../../assets/Venue.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 140px;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formControl {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .formControl:focus {
    border-color: #00b4ff;
    box-shadow: none;
  }
  
  .invalid-feedback {
    font-size: 14px;
    color: #dc3545;
  }
  
  .selectControl {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .selectControl:focus {
    border-color: #00b4ff;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #00b4ff;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0095e0;
  }